body {
    margin-top: 2em;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 0em;
    background-color: #f9f9f9;
}

article {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

article p {
    margin: 1em 2em;
}

h1 
{
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color:#9f2042;
    text-transform: uppercase;
    margin-bottom: 0;
}

.hero {
    width: 100%;
}

#details
{
    font-size: 1.25rem;
    text-align: center;
    color: #a9a9ba;
}


blockquote {

    font-size: 1.25rem;
    font-family: 'Roboto Slab', serif;
    border: 1pt solid #ececec;
    padding: 1em 2em;
    margin: 0.5em 4em;
    background-color: #f9f9f9;
}

#buttons {
    margin: 2em 2em;
}

#buttons a {
    border: 1pt solid #ececec;
    border-radius: 5px;
    padding: 1em;
    font-size: 0.9rem;
    text-decoration: none;
}

#buttons a:link, #buttons a:visited {
    color: #ec8295;
}

#buttons a:hover {
    background-color: #a9a9a9;
    color: #9f2042;
}

footer {

    background-color:#29293a;
    color: #ffffff;
    padding: 1em 0;
    text-align: left;
    margin-top: 0;
}

footer a:link, footer a:visited {
    color: #ec8295;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
